# Port
PORT = 80

# AWS, key_id and access_key must be set though not used within the app explicitly but it's used by the aws-sdk in the background
AWS_ACCESS_KEY_ID = DUMMYIDEXAMPLE
AWS_SECRET_ACCESS_KEY = DUMMYEXAMPLEKEY

# DYNAMODB
DYNAMO_REGION = us-east-1
DYNAMO_PORT = 8000
DYNAMO_URL = http://dynamodb

# JWT
JWT_SECRET = whatever
