- name: create the dynamodb directory
  file:
    path: "{{ app_install_root }}/{{ app_repo_name }}/docker/dynamodb"
    state: directory
    mode: '0777'

- name: copy the .env file
  copy:
    src: "{{ lookup('ansible.builtin.env', 'ANSIBLE_ROOT') }}/.env"
    dest: "{{ app_install_root }}/{{ app_repo_name }}/.env"


- name: download the logging agent
  command: |
    curl https://s3.amazonaws.com/aws-cloudwatch/downloads/latest/awslogs-agent-setup.py -O
    curl https://s3.amazonaws.com/aws-cloudwatch/downloads/latest/AgentDependencies.tar.gz -O
    tar xvf AgentDependencies.tar.gz -C /tmp/

- name: start the logging agent
  become: true
  command: |
    python ./awslogs-agent-setup.py --region us-east-1 --dependency-path /tmp/AgentDependencies

- name: Start docker-compose
  docker_compose:
    project_src: "{{ app_install_root }}/{{ app_repo_name }}"
    restarted: true
  register: output

- ansible.builtin.debug:
    var: output