- name: create the dynamodb directory
  file:
    path: "{{ app_install_root }}/{{ app_repo_name }}/docker/dynamodb"
    state: directory
    mode: '0777'

- name: copy the .env file
  copy:
    src: "{{ lookup('ansible.builtin.env', 'ANSIBLE_ROOT') }}/.env"
    dest: "{{ app_install_root }}/{{ app_repo_name }}/.env"

- name: Start docker-compose
  docker_compose:
    project_src: "{{ app_install_root }}/{{ app_repo_name }}"
    restarted: true
    build: yes
    recreate: yes
  register: output

- ansible.builtin.debug:
    var: output